body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

.hero {
    padding: 50px;
    text-align: center;
}
